@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: #eaeaea;
  background-color: #393939;
}

header {
  border-bottom: 1px solid #d3d3d3;
  margin: 0 5%;
}

.header_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2%;
}

.header_contents > a {
  font-size: 4rem;
  font-weight: 700;
  transition: 0.5s;
}

.header_contents > a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.header_contents nav ul {
  display: flex;
  align-items: center;
}

.header_contents nav ul li {
  margin-left: 45px;
}

.header_contents nav ul li a {
  font-size: 2.4rem;
  font-weight: 700;
  transition: 0.5s;
}

.header_contents nav ul li a:hover {
  opacity: 0.8;
  transform: scale(1.1);
  display: inline-block;
}

.container {
  max-width: 1500px;
  padding: 0 5% 300px 5%;
}

main > p:first-child {
  font-size: 96px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

main > p:nth-child(2) {
  font-size: 28px;
  font-weight: 600;
  padding-top: 10px;
  border-top: 2px solid #696969;
}

.container .load {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

form {
  margin-top: 70px;
}

fieldset p {
  font-size: 24px;
  font-weight: 600;
}

fieldset ul {
  display: flex;
  margin-top: 28px;
}

fieldset ul li {
  display: flex;
  align-items: center;
  margin-left: 63px;
}

fieldset ul li:first-child {
  margin-left: 0;
}

fieldset ul li input[type="checkbox"] {
  display: none;
}

.checkmark {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  background-color: transparent;
  position: relative;
}

.checkmark::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%) skew(-10deg) rotate(-45deg);
  width: 10px;
  height: 7px;
  border-bottom: 2px solid #393939;
  border-left: 2px solid #393939;
}

fieldset ul li label:last-child {
  font-size: 18px;
  margin-left: 10px;
}

fieldset ul li input:checked ~ .checkmark {
  background-color: #bcbcbc;
}

.text-form {
  margin-top: 50px;
}

.text-form label {
  font-size: 24px;
  font-weight: 600;
}

.text-form input {
  width: 470px;
  height: 58px;
  border-radius: 5px;
  background: #4b4b4b;
  padding: 0 10px;
  display: block;
  margin-top: 26px;
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
  font-family: Oswald;
  font-weight: 500;
}

select {
  display: block;
  background-color: #4b4b4b;
  width: 470px;
  height: 58px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Oswald;
  padding: 0 10px;
  margin-top: 26px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.arrow {
  position: relative;
  width: 470px;
}

.arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 20px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid #eaeaea;
  border-left: 4px solid #eaeaea;
  transform: rotate(-45deg);
  pointer-events: none;
}

#detail {
  width: 470px;
  height: 154px;
  border-radius: 5px;
  background: #4b4b4b;
  padding: 10px 10px;
  display: block;
  margin-top: 26px;
  font-size: 16px;
  resize: none;
}

form > input {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 40px;
  transform: skew(-15deg);
  color: #eaeaea;
  border: 3px solid #bcbcbc;
  transition: 0.3s;
  margin-top: 50px;
}

form > input:hover {
  transform: skew(0deg);
  background-color: #eaeaea;
  color: #393939;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .header_contents > a {
    font-size: 3rem;
  }

  .header_contents nav ul li {
    margin-left: 15px;
  }

  .header_contents nav ul li a {
    font-size: 1.8rem;
  }

  main > p:first-child {
    font-size: 6.5rem;
  }

  main > p:nth-child(2) {
    font-size: 1.7rem;
  }

  fieldset p {
    font-size: 1.5rem;
  }

  fieldset ul {
    flex-wrap: wrap;
  }

  fieldset ul li {
    margin-left: 30px;
  }

  fieldset ul li:nth-of-type(3) {
    margin-left: 0;
    margin-top: 20px;
  }

  fieldset ul li:nth-of-type(4) {
    margin-top: 20px;
  }

  .text-form label {
    font-size: 1.5rem;
  }

  .text-form input {
    width: 90%;
    margin-top: 12px;
  }

  .arrow {
    width: 90%;
  }

  select {
    width: 100%;
    font-size: 1.4rem;
  }

  #detail {
    width: 90%;
    font-size: 1.3rem;
  }

  form > input {
    font-size: 1.4rem;
    margin: 50px auto 0 auto;
    display: block;
  }
}
